main {
    display: grid;
    margin: 0px;
}

.nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 5px;
}

.logo-search {
    background-color: thistle;
    padding-top: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.footer {
    background-color: whitesmoke;
}

body {
    margin: 0px;
}

.nav-items {
    padding: 10px;
    
}

.nav-links {
    font-size: small;
    
}

.nav-links:hover {
    text-decoration: underline;
}

svg {
    color: #9aa0a6;
    fill: currentColor;
    width: 20px;
    height:20px;
}

form {
    background-color: darkcyan;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}